<div class="container pad">
  <div class="jumbotron">
    <%= @article.title %><br>
    <%= @article.description %><br><br>
    <%= link_to "EDIT", edit_article_path , class:"btn btn-success"%><br><br>
    <%= link_to "BACK TO ALL POSTS", articles_path ,class:"btn btn-secondary" %>
  </div>
</div>
