<div align="center" class="container main">

      <% @user.each do |user| %>
      <div class="container users_show">
         <%= link_to gravatar_for(user), user_path(user) %><br>
         <%= link_to user.username, user_path(user) %>
      </div>
      <% end %>
      <div align = "center" class="pagination">
         <%= will_paginate(@user, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %><br>
      </div>
       <%= link_to "Back to Home", root_path ,class: "btn btn-secondary"%>
</div>
