<center><h1 id="welcome">Welcome to Alpha blog</h1></center>
<div class="container">
  <div class="jumbotron">
    <div class="root_buttons">
      <center>
      <%= link_to "SignUp",  signup_path,class:"btn btn-primary",role:"button" %>
      <%= link_to "Create a new post",  new_article_path,class:"btn btn-primary",role:"button" %>
      <%= link_to "View all posts", articles_path ,class:"btn btn-primary",role:"button" %>
      <%= link_to "View all users", users_path ,class:"btn btn-primary",role:"button" %>
      </center>
    </div>
  </div>
</div>
