@import "bootstrap";

body{
   background-image: asset-url('gradient.jpg');
   width: 100%;
   height: auto;
   background-repeat: no-repeat;
}

small{
   color: white;
}

#errors{
   background-color: #d18b83;
   text-align: center;
   color: white;
   border-radius: 0.5;
}

#errors li{
   list-style: none;
}

#back_to_home{
   margin-left: 55px;
}

.main_container{
   padding-top: 15px;
   background-color: white;
   border: 1px solid pink;
}
#title{
   font-weight: bold;
   padding: 5px;
}
#buttons{
   padding: 5px;
}
.show{
   font-weight: bold;
}
.pad {
   text-align: center;
   padding: 15px;
}
.flash{
  background-color: yellow;
  color: red;
}
#welcome{
  color: white;
}
.about_creator small{
  color: black;
}
.signup{
  color: white;
}
.profile{
  color: white;
}
.text{
  color: black;
}
.users_show{
  padding: 10px;
  color: black;
}
.main{
  margin-top: 35px;
}
